<div class="container-fluid bg"><br><br>
    <h5 style="text-align: center;">Follow us on Social Media</h5><br>
    <p style="text-align: center;">
        <a href=""><i style='font-size:24px' class='fab'>&#xf09a;</i></a>&nbsp;&nbsp;
        <a href=""><i style='font-size:24px' class='fab'>&#xf16d;</i></a>&nbsp;&nbsp;
        <a href=""><i style='font-size:24px' class='fab'>&#xf08c;</i></a>&nbsp;&nbsp;
        <a href=""><i style='font-size:24px' class='fab'>&#xf099;</i></a>&nbsp;&nbsp;
    </p><br><br>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="#">Privacy Policy</a></li>
                <li class="breadcrumb-item"><a href="#">Disclaimer</a></li>
                <li class="breadcrumb-item"><a href="#">Sitemap</a></li>
            </ol>
        </nav>
    </div>
</div>