<div class="container-fluid">
    <div class="row">
        <div class="col-md-6"><br><br>
            <div class="div">
                <img src="assets/images/enquiry.jpg" class="img" alt="">
            </div><br><br>
        </div>
        <div class="col-md-6"><br><br>
            <h1 style="text-align: center;color:#0092D1;">Enquiry Form</h1><br><br>
            <div>
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Current City*">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Destination*">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Your Name*">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Email Id*">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Mobile No.*">
                        </div>
                        <div class="col">
                            <input type="date" class="form-control" placeholder="Date*">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <select>
                            <input type="text" class="form-control" placeholder="Select Duration*">
                            <option selected>-Select Duration-*</option>
                            <option>1 Night/2 Days</option>
                            <option>2 Night/3 Days</option>
                            <option>3 Night/4 Days</option>
                            <option>4 Night/5 Days</option>
                            <option>5 Night/6 Days</option>
                            <option>6 Night/7 Days</option>
                            <option>8 Night/9 Days</option>
                            <option>9 Night/10 Days</option>
                        </select>
                        </div>
                        <div class="col">
                            <select>
                            <input type="text" class="form-control" placeholder="Select Services*">
                            <option selected>-Select Services-*</option>
                            <option>Full Package</option>
                            <option>Hotel</option>
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="No. Of People*">
                        </div>
                        <div class="col">
                            <select>
                            <input type="text" class="form-control" placeholder="Select Tickets*">
                            <option selected>-Select Tickets-*</option>
                            <option>Tickets Booked</option>
                            <option>Self Booking</option>
                            <option>Need Tickets</option>

                        </select>
                        </div>
                    </div>
                    <h4 style="text-align: center;"><input type="submit" value="Submit"></h4>
                </form>
            </div>
        </div>

    </div>
</div>