<img src="assets/images/about/about.jpg" class="img" alt="">
<h1 class="centered">ABOUT US</h1><br><br><br><br><br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"><br><br><br>
            <div class="div">
                <h1>Domestic Packages</h1>
                <p>Book your domestic holidays across the lush greeneries and pristine beaches – Get domestic travel packages at best rates.</p>
            </div><br><br>
            <div class="div">
                <h1>Pilgrimage Yatra</h1>
                <p>Connect your soul with the supreme power – get best pilgrimage tour packages customised as per your needs.</p>
            </div><br><br><br>

        </div>
        <div class="col-md-4"><br><br><br>
            <div class="div">
                <h1>International Packages</h1>
                <p>Customised International travel packages – Explore across the globe and travel the world like never before.</p>
            </div><br><br>
            <div class="div">
                <h1>Solo Traveller</h1>
                <p>Travel alone to discover life – Get the best solo travel packages customised to suit your adventure needs.</p>
            </div>

        </div><br><br>
        <div class="col-md-4">
            <img src="assets/images/about/akashmir.jpg" class="img1" alt="">
            <h1 class="centered1">Kashmir Tour Pacakage</h1>
            <img src="assets/images/about/manali.jpg" class="img1" alt="">
            <h1 class="centered2">Manali Tour Pacakage</h1>




        </div>

    </div>
    <div class="row">
        <div class="col-md-8">
            <p style="font-size: 20px;">TravelGo is a one stop shop which provides genuine travel leads to various travel agents. Here we connect genuine travellers with genuine agents. The leads that we provide are first screened for their genuinity before being handed over exclusively
                to a single travel agent.</p>


            <p style="font-size: 20px;">TravelGo is an online portal specializing in all kinds of itineraries for the discerning traveller. We assure 100% conversion rates of our high quality leads, this we acheive through a personal touch by which we gauge the requirements of our
                travellers. Our leads are effectively categorized on the basis of the kind of travel, be it luxury, comfort or budget. Our sales team effectively hands over leads daily to our esteemed agents after due scrutiny.</p>


            <p style="font-size: 20px;">TravelGo has redefined the process of generating business for the travel agents. Our cost-effective methods to generate genuine queries along with the strictest quality checks has always made our travellers and our agents go with us a long
                way.
            </p>
        </div>
        <div class="col-md-4">

            <img src="assets/images/about/bhutan.jpg" class="img1" alt="">
            <h1 class="centered3">Bhutan Tour Pacakage</h1>

            <img src="assets/images/about/singapor.jpg" class="img1" alt="">
            <h1 class="centered4">Singapore Tour Pacakage</h1>

            <img src="assets/images/about/chardham.jpg" class="img1" alt="">
            <h1 class="centered5">Chardham Tour Pacakage</h1>

        </div>
    </div>



</div><br><br>