<img src="assets/images/holiday.jpg" class="img1" alt="">
<h1 class="centered">Our Holiday Packages</h1><br><br><br><br><br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6"><br><br>
            <h1 style="color: #0092D1;">Himachal Package</h1>
            <ol style="font-size: larger;">
                <li> Welcome Drink On Arrival. Accommodation For 8 Nights And 9 Days (1star /2star/ 3star-According To Package).</li>
                <li> Bed Tea, Breakfast And Dinner.</li>
                <li> Cost Includes For 2 Pax.</li>
                <li> All Sight Seeing And All Tour By Tata Indica Non A/C Delhi To Delhi. Including All Parking Charges, Toll Tax, Green Tax And Driver Stay.</li>
            </ol>
        </div>
        <div class="col-md-6">
            <img src="assets/images/himachal.jpg" class="img" alt="">
        </div>

    </div><br><br>

    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/kerela.jpg" class="img" alt="">

        </div>
        <div class="col-md-6"><br><br>
            <h1 style="color: #0092D1;">Kerela Packages</h1>
            <ol style="font-size: larger;">
                <li> Day 01: Arrival in Cochin Day</li>
                <li> 02:Cochin to Munnar (Drive: 140 km / 4 Hours) Day</li>
                <li> 03:Munnar Excursion</li>
                <li>Day 04:Munnar to Thekkady (Drive: 110 km / 3 hours)</li>
                <li>Day 05:Thekkady to Alleppey (Drive: 160 km / 4 Hours)</li>
                <li>Day 06:Alleppey to Cochin (Drive: 100 km / 3 Hours); End of Tour</li>
            </ol>

        </div>

    </div><br><br>

    <div class="row">
        <div class="col-md-6"><br><br>
            <h1 style="color: #0092D1;">Kashmir Tour Packages</h1>
            <ol style="font-size: larger;">
                <li> Accommodation On Twin Sharing Basis At Hotel/ Houseboat.</li>
                <li>Welcome Drink On Arrival.</li>
                <li> 01 Full Day Excursion Of Gulmarg.</li>
                <li>01 Full Day Srinagar Local City Tour.Daily Breakfast & Dinner.</li>
                <li> 01 Hour Shikara Ride On Dal Lake – Srinagar.</li>
                <li>Meeting & Assistance On Arrival & Departure.</li>
                <li>Transfer & Sightseeing By Individual Car. All Fuel Charges, Toll Taxes & Parking.</li>
            </ol>
        </div>
        <div class="col-md-6">
            <img src="assets/images/kashmir.jpg" class="img" alt="">

        </div>

    </div>
    <br><br>

    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/goa.jpg" class="img" alt="">

        </div>
        <div class="col-md-6"><br><br>
            <h1 style="color: #0092D1;">GOA Packages</h1>
            <ol style="font-size: larger;">
                <li>03 Nights accommodation in Hotel Meal.</li>
                <li> Sightseeing Airport/ Railway Station transfers</li>
            </ol>

        </div>

    </div><br><br>
    <div class="row">
        <div class="col-md-6"><br><br>
            <h1 style="color: #0092D1;">Ladakh Tour Packages</h1>
            <ol style="font-size: larger;">
                <li> 3N/4D 3* Or 4* Hotel Accommodation</li>
                <li>Daily Breakfast, Lunch Or Dinner</li>
                <li>Pangong Lake, Sham Valley</li>
                <li>Return Airport And Round Trip Transfers Along With All Sightseeing</li>
                <li>Tours Inner Line Permits To Restricted Area Wildlife Fees & Red Cross Fee</li>
            </ol>

        </div>
        <div class="col-md-6">
            <img src="assets/images/ladhak.jpg" class="img" alt="">
        </div>

    </div><br><br>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/shimla.jpg" class="img" alt="">
        </div>
        <div class="col-md-6"><br><br>
            <h1 style="color: #0092D1;">Shimla Tour Packages</h1>
            <ol style="font-size: larger;">
                <li>02 Nights/ 03 Days Accommodation.</li>
                <li>Welcome Drinks On Arrival.</li>
                <li>Meal Plan- Breakfast, Dinner At Hotel Morning And Evening Tea/Coffee</li>
                <li>Shimla Local Sightseeing Pick Up/Drop At Shimla Bus Stand To Hotel To Bus Stand</li>
                <li>All Applicable Taxes</li>
            </ol>

        </div>

    </div><br><br>
    <div class="row">
        <div class="col-md-6"><br><br>
            <h1 style="color: #0092D1;">Chardham Tour Packages</h1>
            <ol style="font-size: larger;">
                <li>Accommodation On Twin Sharing Basis.</li>
                <li>Hotels, Meals, sightseeing</li>
                <li>AC Innova/Non AC Tempo Traveler/27 Seater 2X2 Non AC Bus</li>
                <li>Pickup and drop from Airport / Railway Station / Bus Stand</li>
                <li>Driver allowances and parking charges</li>
                <li>Haridwar, Yamunotri, Uttarkashi, Gangotri Guptkashi, Kedarnath, Badrinath, Rishikesh Inclusive of All Taxes
                </li>
            </ol>
        </div>
        <div class="col-md-6">
            <img src="assets/images/chardham.jpg" class="img" alt="">
        </div>

    </div><br><br>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/nanital.jpg" class="img" alt="">
        </div>
        <div class="col-md-6"><br><br>
            <h1 style="color: #0092D1;">Nainital Tour Package</h1>
            <ol style="font-size: larger;">
                <li>Accommodation in 3* Hotels on Twin Sharing Basis</li>
                <li> Hotel at Mall RoadWell furnished Accommodation</li>
                <li> Welcome drink on arrival (non-alcoholic)Bed tea breakfast and Dinner. (MAP)Boat Ride at Nainital Lake Sightseeing, Lake tour.</li>
            </ol>
        </div>

    </div><br><br>
    <div class="row">
        <div class="col-md-6"><br><br>
            <h1 style="color: #0092D1;">Jim Corbett package</h1>
            <ol style="font-size: larger;">
                <li>Welcome Drink on arrival. Stay In Luxury A/C resorts/hotels On Double Occupancy Basis.</li>
                <li>Recreational Activities in Resort Premises.</li>
                <li> Complementary Use Of Wi-Fi Facility</li>
                <li>Children Below 6 Years Complimentary Sharing Parents.</li>
                <li> Complimentary Use Of Swimming Pool.</li>
                <li>Jim Corbett jungle safari.</li>
                <li> Enjoy the Awesome Jim Corbett holiday trip.</li>
            </ol>
        </div>
        <div class="col-md-6">
            <img src="assets/images/jimcorbatte.jpg" class="img" alt="">
        </div>

    </div><br><br>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/rajsthan.jpg" class="img" alt="">
        </div>
        <div class="col-md-6"><br><br>
            <h1 style="color: #0092D1;">Rajasthan Tour Packages</h1>
            <ol style="font-size: larger;">
                <li>05 Nights & 06 Days hotel stay on twin sharing basis.</li>
                <li>Jaipur, Jodhpur, Udaipur, Pushkar Sightseeing and Transfer by AC Vehicle</li>
                <li>Welcome drink on arrival.</li>
                <li>Daily Breakfast at all the Hotels Camel safari & Rajasthani Folk Dance.</li>
                <li>Morning Boat Ride at Lake Pichola, Udaipur.</li>
                <li>All transfers & sightseeing as per itinerary by A/C Vehicle.</li>
                <li>All Fuel Charges, Toll Taxes & Parking.</li>
            </ol>
        </div>

    </div><br><br>
    <div class="row">
        <div class="col-md-6"><br><br>
            <h1 style="color: #0092D1;">Ooty Tour packages</h1>
            <ol style="font-size: larger;">
                <li> Accommodation On Twin Sharing Basis.</li>
                <li> A/c Indica for the 5 Days Sightseeing</li>
                <li> All sightseeing and transfers as per Itinerary Pickup and drop from (Madurai or Coimbatore) Airport / Railway Station / Bus Stand</li>
                <li> Driver allowances and parking charges</li>
                <li> Inclusive of All Taxes</li>
            </ol>
        </div>
        <div class="col-md-6">
            <img src="assets/images/ooty.jpg" class="img" alt="">
        </div>

    </div><br><br>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/sikkim.jpg" class="img" alt="">
        </div>
        <div class="col-md-6"><br><br>
            <h1 style="color: #0092D1;">Sikkim Tour Packages</h1>
            <ol style="font-size: larger;">
                <li>02 Nights Stay In Darjeeling Hotel.</li>
                <li>02 Nights Stay In Sikkim Hotel.</li>
                <li>Daily Breakfast & Dinner.</li>
                <li>Full Day Excursion to Tsongmo Lake-Baba Mandir City Tour & Sightseeing As Per Itinerary.</li>
                <li>Airport / Railway Station Transfers By Car.</li>
                <li>Activities In Sikkim and Darjeeling.</li>
                <li>Inclusive of taxes</li>
            </ol>
        </div>

    </div><br><br>
</div>